<%- include('../partials/header') %>

    <div class="container-fluid py-4">
        <h2 class="h3 mb-4 text-white">Categorias</h2>

        <div class="row g-3">
            <% categories.forEach(category=> { %>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card bg-dark border-secondary h-100 hover-card shadow-sm">
                        <div class="card-body p-3">
                            <a href="/category/list-categories/<%= category.id %>"
                                class=" stretched-link text-decoration-none">
                                <div class="d-flex align-items-center">

                                    <!-- Ícone da Categoria -->
                                    <div class="icon-container bg-success bg-opacity-25 text-success rounded-circle d-flex justify-content-center align-items-center flex-shrink-0"
                                        style="width: 45px; height: 45px;">
                                        <i class="bi bi-grid-3x3-gap fs-4"></i>
                                    </div>

                                    <!-- Conteúdo -->
                                    <div class="flex-grow-1 ms-3 overflow-hidden">

                                        <!-- Nome da categoria -->
                                        <h5 class="text-white mb-1 fw-bold text-truncate">
                                            <%= category.name %>
                                        </h5>

                                        <!-- Descrição -->
                                        <p class="text-secondary small mb-0 text-truncate">
                                            <%= category.description %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>

    </div>